<%-include("fragments/head.ejs")%>








<div class="container">
    <h1>Title: <%= product.title%></h1>

    <p>Price: <%= product.price%></p>

</div>
















<%-include("fragments/end.ejs")%>